/* @import 'normalize.css'; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --black: #000;
    --text-color: #333;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}
.wrapper{
    background-color: var(--background);
}