.wrapper{
    font-size: 18px;
    height: 80px;
}
.wrapper .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.wrapper .item:hover{
    cursor: pointer;
    color: var(--primary);
    background-color: #000;
}
